section.fot
  .container 
    .footer 
      .footer__logo
        img(src="img/footer/footer-logo.png", alt="footer-logo")
      .footer__info
        .contact__block
          .text
            .title КОНТАКТНАЯ ИНФОРМАЦИЯ
            .disc АДРЕС: Республика Беларусь, 223045, Минская обл., Минский р-н, Район деревни Угляны,  административное помещение №1, комн. 7а.
            |ВРЕМЯ РАБОТЫ РЕДАКЦИИ: Понедельник-Суббота с 8.00 до 20.00. Выходной: воскресенье.
            |ТЕЛЕФОН: +375 29 623-12-70, факс - 8 017 271-46-43.
            |E-mail: perspectivа@tut.by
          .icon
            a(href="#")
                i.fa.fa-facebook
            a(href="#")
                i.fa.fa-youtube-play
            a(href="#")
                i.fa.fa-odnoklassniki
            a(href="#")
                i.fa.fa-instagram
        .contact__blockb © РОО "Перспектива", 2018. Информационно-новостной портал |Республиканское Общественное Объединение “Перспектива”. Полное копирование любых |материалов сайта возможно только с указанием прямой, индексируемой ссылки на |материал или на первоисточник. Телефон для справок: +375 (29) 623-12-70. Размещение |рекламы: +375 (29) 575-10-00.
          img(src="../img/footer/btn.png", alt="go up")
script(src="js/menu.js")