section
  .container
    .header
      .header__logo
        img(src="img/header/logo.png", alt="Logotip")
      .header__icon
        .header__icon-ico
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-youtube-play
          a(href="#")
            i.fa.fa-odnoklassniki
          a(href="#")
            i.fa.fa-instagram
        .header__icon-title Следи за нами 
      .header__search
        .header__search-block
          .dollor $ 1.9623
          .euro € 2.2763
          .sity Минск
          .weather -8°C
          .date Четверг, 5 апреля 2018
        .header__search-input
          input(type="text" placeholder="Найти новость")
          a(href="#")
            i.fa.fa-search.search
    .header__photo
      .img
        img(src="img/header/photo1.png", alt="photo1" )
      .img
        img(src="img/header/photo2.png", alt="photo2" )
      .img
        img(src="img/header/photo3.png", alt="photo3" )
    .header__menu
      .button.header__btn#btn
        i.fa.fa-align-justify
      ul.header__menu-ul 
        li 
          a(href="index.html") Главная
        li 
          a(href="index5.html") наша история
        li 
          a(href="index8.html") фотогалерея
        li  
          a(href="index3.html") новости перспективы
        li 
          a(href="index2.html") другие новости
        li 
          a(href="#") контакт


       







