section
  .container
    .otherNews
      .otherNews__left.otherNews__full
        .otherNews__news
          .otherNews__news-title Читать также
    .otherBlock
      .otherNews__item
        .otherNews__item-data 3 апреля 22:43
        .otherNews__item-title Портрет белорусского миллиордера: 51-летний минчанин, занимается недвижимостью, женат, двое детей
        .otherNews__item-disc А ну ка съешь этих мягких французких булок да с маслом
      .otherNews__item
        .otherNews__item-data 3 апреля 22:43
        .otherNews__item-title Портрет белорусского 
        .otherNews__item-disc А ну ка съешь этих мягких французких булок да с маслом
      .otherNews__item
        .otherNews__item-data 3 апреля 22:43
        .otherNews__item-title Портрет белорусского миллиордера: 51-летний минчанин, занимается недвижимостью, женат, двое детей
        .otherNews__item-disc А ну ка съешь этих мягких французких булок да с масломА ну ка съешь этих мягких французких булок да с масломА ну ка съешь этих мягких французких булок да с маслом
      .otherNews__item
        .otherNews__item-data 3 апреля 22:43
        .otherNews__item-title Портрет белорусского миллиордера: 51-летний минчанин, занимается недвижимостью, женат, двое детей
        .otherNews__item-disc А ну ка съешь этих мягких французких булок да с маслом
