section
  .container
    .newsBig
      .newsBig__head
        img(src="img/work/newsPhoto.png", alt="photo2")
        .newsBig__mask
        .newsBig__title 25 кадров Дня Воли-2017 в Минске
        .newsBig__date 7 Апреля 2018
        .newsBig__autor Автор: Анатолий Шумченко  Фото: Павел Мартинчик
      .newsBig__text <b>Традиционного шествия и митинга ко Дню Воли в Минске не вышло - столичные власти не дали разрешения на массовые мероприятия.</b>
        | Тем не менее, люди все равно вышли на улицы, где их уже ждал ОМОН. Проспект Независимости на время полностью перекрыли. В итоге - сотни задержанных, в том числе журналисты и правозащитники.
      img(src="img/work/newsPhoto2.png", alt="photo2")
      .newsBig__text 
        p  
          |  Традиционного шествия и митинга ко Дню Воли в Минске не вышло - столичные власти не дали разрешения на массовые мероприятия массовые мероприятия.
        p
          |  Тем не менее, люди все равно вышли на улицы, где их уже ждал ОМОН. Проспект Независимости на время полностью перекрыли. В итоге - сотни задержанных, в том числе журналисты и правозащитники. 

    