section
  .container
    .news
      .news__title Новости перспективы
      .news__disc Все новости
    .news__blocks
      .news__item
        a(href="")
          .news__photo
            img(src="img/work/newsItem.png", alt="newsItem")
          .news__text
            .news__text-title Бонстики улетели, но чудеча пролоджлаются: в "Евроопте" стартует новая якция - "Краина Витамина"
            .news__text-date 17:12 Февраль 17
      .news__item
        a(href="")
          .news__photo
            img(src="img/work/newsItem.png", alt="newsItem")
          .news__text
            .news__text-title Бонстики улетели, но чудеча пролоджлаются: в "Евроопте" стартует новая якция - "Краина Витамина"
            .news__text-date 17:12 Февраль 17
      .news__item
        a(href="")
          .news__photo
            img(src="img/work/newsItem.png", alt="newsItem")
          .news__text
            .news__text-title Бонстики улетели, но чудеча пролоджлаются: в "Евроопте" стартует новая якция - "Краина Витамина"
            .news__text-date 17:12 Февраль 17
      .news__item
        a(href="")
          .news__photo
            img(src="img/work/newsItem.png", alt="newsItem")
          .news__text
            .news__text-title Бонстики улетели, но чудеча пролоджлаются: в "Евроопте" стартует новая якция - "Краина Витамина"
            .news__text-date 17:12 Февраль 17
