section
  .container
    .otherNews
      .otherNews__left
        include otherNewsGoo
      .otherNews__right
        .photo 
          img(src="img/work/goin.png", alt="goin")
          .more 
            a(href="index6.html") Подробнее
        .arhiveNews
          .arhiveNews__title АРХИВ НОВОСТЕЙ
          input(type="text" placeholder="Выберите дату")
          a(href="index4.html") Показать
        .pravodoc
          .title 
            a(href="#") ПРАВОВЫЕ ДОКУМЕНТЫ
          .disc
            a(href="#") Сферу перевозок катки опять лихорадит
          .disc
            a(href="#") НЦЗПИ изучает проблемы приминения новых правовых актов в сфере развития бизнеса
          .disc
            a(href="#") Сферу перевозок катки опять лихорадит
          .disc
            a(href="#") НЦЗПИ изучает проблемы приминения новых правовых актов в сфере развития бизнеса
          .disc
            a(href="#") Сферу перевозок катки опять лихорадит
          .disc
            a(href="#") НЦЗПИ изучает проблемы приминения новых правовых актов в сфере развития бизнеса
          .btn 
            a(href="#") Все документы