.gallery
  .gallery__row
    .gallery__row-bigblock
      a(href="#")
        .gallery__row-bigblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-bigblock-date 16.08.2018
          .gallery__row-bigblock-title 2018 - День Воли. Как это было?
    .gallery__row-smallblock
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
  .gallery__row.gallery__row-reverse
    .gallery__row-bigblock
      a(href="#")
        .gallery__row-bigblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-bigblock-date 16.08.2018
          .gallery__row-bigblock-title 2018 - День Воли. Как это было?
    .gallery__row-smallblock
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
  .gallery__row
    .gallery__row-bigblock
      a(href="#")
        .gallery__row-bigblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-bigblock-date 16.08.2018
          .gallery__row-bigblock-title 2018 - День Воли. Как это было?
    .gallery__row-smallblock
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
  .gallery__row.gallery__row-reverse
    .gallery__row-bigblock
      a(href="#")
        .gallery__row-bigblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-bigblock-date 16.08.2018
          .gallery__row-bigblock-title 2018 - День Воли. Как это было?
    .gallery__row-smallblock
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?
      a(href="#")
        .gallery__row-smallblock-img
          img(src="img/work/gall-den.png", alt="gall-den")
          .gallery__row-smallblock-date 16.08.2018
          .gallery__row-smallblock-title 2018 - День Воли. Как это было?

        
          
    