.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.otherNews__block
  .otherNews__block-date
    .month ФЕВ.
    .date 
      b 4
    .year 2018
  .otherNews__block-text
    .title Двое руководителей службы маршрутных такси 
    .disc Двое руководителей службы маршрутных такси Минской области более 2 лет скрывали выручку и уклонялись от уплаты налогов.
.navigator NAVIGATOR