section
  .container
    .otherNews
      .otherNews__left
        .otherNews__news
          .otherNews__news-title Другие новости
      .otherNews__right
        .newNews
          a(href="#") Предложить новость



    