section
  .container
    .otherNews2
      .otherNews2__left
        .otherNews2__news
          .otherNews2__news-title Другие новости
          .otherNews2__news-disc Все новости
      .otherNews2__right
        .newNews
          a(href="#") Предложить новость