section.support
  .container
    .supportOrg
      .supportOrg__title Поддержи организацию
      .supportOrg__disc ПОДДЕРЖАТЬ ОРГАНИЗАЦИЮ ВЫ МОЖЕТЕ, СДЕЛАВ ПЕРЕВОД НА Р/С ОРГАНИЗАЦИИ IBAN BY46 ALFA 0000 0000 0000 0000 0000